body {
    background-color: #0C2C55;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.one {
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.two {
    border: 3px solid pink;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.three {
    border: 3px solid pink;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.four {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
     padding: 20px;
    border-radius: 10px;
}

.five {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.six {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.seven {
    border: 3px solid pink;
    border: 2px solid maroon;   
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.eight {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.nine {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}

.ten {
    border: 3px solid pink;
    border: 2px solid maroon;
    border: 2px solid #296374;
    padding: 20px;
    border-radius: 10px;
}