body {
    background-color: #fdfdfd;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 20px;
}

div {

    border: 8px solid rgb(209, 53, 53);
    padding: 20px;
    border-radius: 30px;
    width: 800px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    box-shadow:  0 0 10px rgba(255, 0, 0, 0.7);
    
}