table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    table, th, td {
      border: 1px solid rgb(205, 200, 200);
      padding: 8px;
      text-align: center;
      background-color: rgb(222, 230, 230);
    }
    b{
      font-size: 40px;
      
    }
